boto3==1.20.14
botocore==1.23.14
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
click-default-group==1.2.2
dateutils==0.6.12
defusedxml==0.7.1
falcon==2.0.0
gunicorn==20.1.0
hiredis==2.0.0
httpie==2.6.0
hug==2.6.1
idna==3.3
jmespath==0.10.0
Pygments==2.10.0
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.3
redis==3.5.3
requests==2.26.0
requests-futures==1.0.0
requests-toolbelt==0.9.1
s3transfer==0.5.0
six==1.16.0
sqlite-fts4==1.0.1
sqlite-utils==3.17.1
tabulate==0.8.9
urllib3==1.26.7
